body {
    background-color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

#content {
    background-color: rgb(255, 255, 255);
    max-width: 50%;
    margin: 100px auto;
    border-radius: 10px;
}

img {
    margin-top: .25em;
    margin-bottom: 1.5em;
    margin-right: 2.5em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.25) .5em .5em;
    width: 20%;
    height: auto;
}

header,
footer {
    background-color: #002ba1;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 136, 255);
}

#dateModified {
    text-align: center;
}

.BYUI {
    color: aliceblue;
}

footer a:hover {
    color: rgb(194, 194, 194);
}

main {
    padding: 20px;
}

@media screen and (max-width: 750px) {
    #content {
      max-width: 90%;
      background-color: #252525;
      margin: auto;
    }
}