body {
    background-color: #8EC6FF;
    font-family: 'PT Sans Narrow', sans-serif;
}

#content {
    background-color: rgb(255, 255, 255);
    max-width: 95%;
    margin: 100px auto;
    border-radius: 10px;
}

img {
    max-width: 70%;
    margin-top: .25em;
    margin-bottom: 1.5em;
    margin-right: 2.5em;
    margin-left: 0.25rem;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.25) .5em .5em;
}

header,
footer {
    background-color: #00264C;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: white;
}

#dateModified {
    text-align: center;
}

.BYUI {
    color: aliceblue;
}

footer a:hover {
    color: rgb(194, 194, 194);
}

main {
    padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }