header, footer {
    margin: 1rem auto;
    height: auto;
    color: white;
    background-color: #00264c;
    text-align: center;
    padding: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.header{
    overflow: auto;
}
  
.header h1 {
    text-align:center;
}

header h1 {
    margin: 1em;
}

header,
nav,
main,
footer {
	max-width: 70em;
	margin: 0 auto;
}

header h1{
    margin: 1rem 0;
}

header {
    padding:0;
    margin-top: 1rem;
}
main h3, p {
    margin: 0;
}
.content, body{
    background-color: #8EC6FF;
}

main, nav {
    background-color: white;
}


h3, p {
    padding: 0.5em;
}

footer {
    font-size: 1rem;
    padding: 0%;
}

footer p {
    margin: 0;
}
#logo{
    max-width: 40%;
    height: auto;
    width: 100px;
    height: 100px;
    background: #555;
    margin: 20px;
}

#colorscheme{
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
	background-color: #00264c;
	color: white;
}

@media only screen and (min-width: 37.5em) {
	nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
}

h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2.5rem;
    color: white;
    background-color: #00264c;
}

h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.75rem;
    background-color: #00264c;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 0.75rem 0;
}

h3{
    font-size: 1.5rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    font-size: 1.25em;
    font-family: 'PT Sans Narrow', sans-serif;
}

a {
    font-family: 'PT Sans Narrow', sans-serif;
}

.maintable {
    margin: 0 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.tablecolumns{
    font-weight: bold;
}
.tablecolumns,
.h1table,
.h2table,
.h3table,
.ptable,
.navtable,
.footertable {
    height: 1em;
    background-color: #8ec6ff;
    width: 15em;
    text-align: left;
    font-size: 2em;
    padding: .85em;
}

#lastModified{
    padding-bottom: 1em;
}

.active {
    background-color: #8ec6ff;
    border-style: solid;
    border-width: 0 1px;
    border-color: black;
}
.BYUI {
    color: aliceblue;
    text-decoration: none;
}

.BYUI:hover {
    text-decoration: underline;
}