@media only screen and (min-width: 37.5em) {
	.headings h1 {
		font-size: 3rem;
	}

	.slogan {
		letter-spacing: 1.5pt;
		margin-left: 3%;
  }

  .article img {
	  margin-bottom: 20px;
  }

  .contact-info {
	display: flex;
    flex-direction: row-reverse;
	margin: 15px auto;
	max-width: fit-content;  	
  }

  .contact {
	  margin-left: 25px;
  }

  footer {
	  padding-top: 0;
  }

  .mapimage img {
	  max-width: 500px;
  }
}