#alert {
  text-align: center;
}

header, .footer-bar, .contact-info {
  width:100%;
  overflow:hidden;
  color: white;
  background-color: #00264c;
  text-align: center;
  padding: 1rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

header {
	background-color: #00264c;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 100px;
  height: auto;
  margin-right: 20px;
}

.headings {
	display: flex;
  flex-direction: column;
  margin: 0;
}

.headings h1, p {
  margin: 0;
}

.slogan {
  margin-top: 10px;
}

.ham {
  margin-top: 20px;
  margin-left: 45px;
  background-color: transparent;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  border: none;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #8EC6FF;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

h2 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

.herodiv{
  margin: 10px auto;
  position: relative;
  align-items: center;
}

.herodiv img {
  width: auto;
  max-height: 300px;
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.weathersummary {
  font-family: 'PT Sans Narrow', sans-serif;
  border: 1px solid black;
  padding: 0.5rem;
  margin: auto 10px;
}

.weathersummary h3 {
  margin-top: 0;
  text-align: center;
	text-decoration: underline;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.stats p {
  text-align: right;
  grid-column: 1;
}

.forecast {
  margin: auto 10px;
  position: relative;
}

.forecast img{
  width: 800px;
}

.today {
	top: 10px;
	position: absolute;
	left: 10px;
	border: 2px solid black;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
	padding: 1.5rem;
	background: radial-gradient(#eee, #8EC6FF);
  }
  
  .tomorrow {
	top: 10px;
	position: absolute;
	left: 160px;
	border: 2px solid black;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
	padding: 1.5rem;
	background: radial-gradient(#eee, #8EC6FF);
  }

  .daythree {
	top: 10px;
	position: absolute;
	left: 310px;
	border: 2px solid black;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
	padding: 1.5rem;
	background: radial-gradient(#eee, #8EC6FF);
  }
  
  .dayfour {
	top: 10px;
	position: absolute;
	right: 160px;
	border: 2px solid black;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
	padding: 1.5rem;
	background: radial-gradient(#eee, #8EC6FF);
  }

  .dayfive {
	top: 10px;
	position: absolute;
	right: 10px;
	border: 2px solid black;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
	padding: 1.5rem;
	background: radial-gradient(#eee, #8EC6FF);
  }

.article {
  margin-bottom: 20px;
}
.article h3 {
  text-align: center;
}

.article img {
  float: right;
}

.article p {
font-family: 'PT Sans Narrow', sans-serif;
margin: 20px auto;
text-align: center;
display: inline;
}

.contact-info{
  margin-bottom: 0;
}

.contact-info img {
  margin-top: 20px;
}

.footer-bar {
  margin-top: 0;
  padding-top: 0;
}

.footer-bar div {
  display: inline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}